html {
  overflow: hidden;
}

.v-content{
  -webkit-transition: none !important;
  transition: none !important;
}

.v-navigation-drawer {
  -webkit-transition: none !important;
  transition: none !important;

  .v-list__tile {
    height: 80px;
  }

  &.v-navigation-drawer--mini-variant {
    overflow-y: auto;

    .v-list__tile {
      height: 80px;
      padding: 0 2px;
      flex-direction: column;
      font-weight: 300px;
    }

    .v-list__tile__title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      margin-top: 4px;
      max-width: 60px;
      max-height: 20px;
      font-size: 10px;
      line-height: 10px;
      text-align: center;
      hyphens: auto;
    }

    .v-list__tile__content {
      opacity: 1;
      height: 40px;
    }

    .v-list__tile__sub-title {
      display: none;
    }

    .v-list__tile__action {
      height: 40px;
      span {
        height: 40px;
      }
    }

    .v-list__tile__title, .v-list__tile__sub-title {
      white-space: normal;
    }
  }
}

.v-list__tile svg {
  height: 40px;
  width: 40px;
}

.v-list__tile:not(.v-list__tile--active) {
  .v-list__tile__title, .v-list__tile__sub-title {
    color: #a5a5a5;
  }

  svg {
    opacity: 0.5;
  }
}

.v-list__tile.v-list__tile--active{
    svg {
      opacity: 1;
    }
}

// toolbar : hide title on mobile when open
.v-toolbar__content {
  flex-direction: row-reverse;
}

.rg-toolbar-title {
  flex: 1 1 auto;
}

// using vueify container class for .mobile, .desktop
.v-toolbar__content {
  flex-direction: row-reverse;
}

.v-toolbar__content > *:first-child.v-btn--icon {
  margin-left: 6px;
  margin-right: 6px;
}

@media only screen and (max-width : 600px) {
  .v-menu__content {
    max-height: 200px !important;
  }
  .rg-toolbar-autocomplete:not(.v-select--is-menu-active){
    flex: 0 0 48px;
    overflow: hidden;
  }

  .rg-toolbar-autocomplete.v-select--is-menu-active + .rg-toolbar-title {
    flex: 0 0 0px;
    overflow: hidden;
    margin: 0px !important;
  }
}
